body {background-color: black;
color: white;
}

.Título {color: yellow;}

.Subtítulo2 {color: yellow;}

.Subtítulo3 {color: orange}

.Subtítulo4 {color: greenyellow;}

.Texto {text-align: justify;}

.imagen-centrada {display:block; margin: 0 auto;}

.titulo-cursiva {font-style: italic;}



